*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*.............................header*/
 header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    height: 100%;
    display: wrap;
    
 }
 .navigations{
    display: wrap;
 }
.navigations ul{
    display: flex;
    
    display: wrap;
}
.navigations li{
    list-style: none;
   margin-left: 30px;
   display: wrap;
}
.navigations a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    display: wrap;
}
.navigations a:hover{
    color: gray;
}

/*.............................project*/
.project{
    margin-top: 100px;
    margin-left: 40px;
    display: wrap;
}

/*.............................main*/
 .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,200px));
    margin-top: 100px;
    display: wrap;
    gap: 120px;
 }

 .main{
   width: 300px;
    margin-top: 20px;
    border: 2px solid black;
    margin-left: 40px;
    
    background-color: black;
    color: white;
    border-radius: 10px;
} 
.beans{
    height: 200px;
    width: 285px;
}
 .info{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 1.2rem;
    
} 
  .stack{
    padding-left: 10px;
    padding-top: 10px;
    
 }  
 .head{
    display: flex;
    
 } 
  .para{
 padding-top: 12px;
 padding-left: 10px;
 } 
 .git{
    width: 35px;
    color: white;
    background-color: white;
    margin-left: 20px;
 }
  .IMG_VIEW{
    display: flex;
    margin-top: 20px;
 } 
  .view{
    padding-top: 20px;
    margin-left: 30px;
 } 

 /*..............................footer*/

 .footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    display: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,400px));
    margin-left: 20px;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 150px 70px;
 }
 .icons{
    display: wrap;
 }
 .insta{
    height: 30px;
    padding-right: 10px;
 }
 .facebook{
    height: 30px;
 }
 .github{
    height: 30px;
    padding-right: 10px;
 }
 .links {
   display: flex;
   text-align: center;
   
 }
 .links h3{
   padding-left: 30px;
   font-size: 1.3rem;
    font-weight: 500;
    margin: 0px 0px;
 }

  .footer2{
   
   display: wrap;
   
    grid-template-columns: repeat(auto-fill,minmax(200px,300px));
  padding-left: 100px;
   margin: 40px 0px;
   
 } 

 .copyright{
  display: flex;
  
 }
  .copyright h2{
   margin-top: 20px;
   margin-left: 30px;
  }
 .copy{
   height: 19px;
   margin-top: 25px;
   margin-left: 30px;
 } 
 
 
